<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="width: 400px;">
        <h3 class="text-center mb-3">Login</h3>
        <form (ngSubmit)="onLogin()" #form="ngForm">
            <!-- Email Input -->
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    <input class="form-control border-primary" type="email" #email="ngModel" name="email" id="email" [(ngModel)]="user.email" placeholder="Enter Email" email required>
                </div>
                <div class="text-danger">
                    @if (email.invalid && (email.touched || email.dirty)) {
                        @if (email.errors?.['required']){
                            <span>This is required</span>
                        }
                        @if (email.errors?.['email']) {
                            <span>Invalid email address</span>
                        }
                    }
                </div>
            </div>

            <!-- Password Input -->
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    <input class="form-control border-primary" type="password" #password="ngModel" name="password" id="password" [(ngModel)]="user.password" placeholder="Enter Password" required minlength="3">
                </div>
                <div class="text-danger">
                    @if (password.invalid && (password.touched || password.dirty)) {
                        @if (password.errors?.['required']) {
                            <span>This is required</span>
                        }

                        @if (password.errors?.['minlength']) {
                            <span>Minimum 3 characters required</span>
                        }
                    }
                </div>
            </div>

            <button class="btn btn-primary w-100">Login</button>
            <p class="text-center mt-3">Don't have an account?  
                <a type="button" routerLink="/app-register" class="text-primary fw-bold">Register</a>
            </p>
        </form>
    </div>
</div>
