<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="width: 400px;">
        <h3 class="text-center mb-3">Login</h3>
        <form (ngSubmit)="onLogin()">
            <!-- Email Input -->
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    <input class="form-control border-primary" type="email" name="email" id="email" [(ngModel)]="user.email" placeholder="Enter Email">
                </div>
            </div>

            <!-- Password Input -->
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    <input class="form-control border-primary" type="password" name="password" id="password" [(ngModel)]="user.password" placeholder="Enter Password">
                </div>
            </div>

            <button class="btn btn-primary w-100">Login</button>
            <p class="text-center mt-3">Don't have an account?  
                <a type="button" routerLink="/app-register" class="text-primary fw-bold">Register</a>
            </p>
        </form>
    </div>
</div>
